*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    width: 100%;
    height: auto;
}
.header1{
    width: 100%;
    height: 20%;
    background-color: #262a2b;
    font-family: 'Roboto Condensed', sans-serif;
}
.header1-2{
    display:flex;
    justify-content: space-between;
    width: 86%;
    margin: 0 auto;
    padding-top: 10px;
}
.left{
    padding: 5px;
    display: flex;
    gap: 20px;
    /* margin: 10px; */
}
.left p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.left p i{
    color: #967b4f;
}
.left a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
}
.left a i{
    color: #967b4f;
}
.right ul{
    display: flex;
    /* margin: 10px; */
    gap: 30px;
}
.right ul li{
    padding: 5px;
    list-style: none;
    transition: 0.3s;
}
.right ul li i{
    color: #fff;
}
.right ul li:hover{
    background-color: #D71E26;
    
}
.dropdown-item:hover{
    color: #fff;
    background-color: #262A2B;
}
.container-fluid{
    display: flex;
   justify-content: space-between;
}
.navbar-brand{
    margin-left: 10px;
}
.navbar-brand img{
    width: 120px;
}
.nav-item{
    margin-right: 10px;
}
nav .dropdown-item{
    font-family: Arial, Helvetica, sans-serif;
}
.about-heading{
    width: 100%;
    background-color: #967b4f;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.about-heading h2{
    width: 85px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}
.page-wrap {
    margin: 50px 0;
}
.about-dis{
    max-width: 800px;
}
.about-para h1{
    font-size: 20px;
}
.about-para p{
    font-family: Arial, Helvetica, sans-serif;
}
.about-para ul li{
    font-family: Arial, Helvetica, sans-serif;
}
container{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

th, td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
}
td{
    background-color: #F7F7F7;
}

th {
    background-color: #f2f2f2;
}
.about-list h1{
 font-size: 1.5rem;
}

.about-list table{
margin-bottom: 40px;
}
.about-list p{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.upper-footer{
    width: 100%;
    margin-top: 80px;
    background-color: #212121;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-items{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-items .logo img{
        padding-top: 10px;
        width: 150px;
}
.footer-list{
    margin-top: 30px;
    display: flex;
    color: #fff;
}
.footer-list a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-list p{
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.footer-list .email{
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.fa-solid{
    color: #967b4f;
}
.lower-footer{
    width: 100%;
    padding-top: 15px;
    padding-left: 150px;
    padding-bottom: 5px;
    background-color: #967b4f;
    color: #fff;
}
.lower-footer p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media only screen and (max-width: 800px){
    .header1-2{
        flex-direction: column;
        align-items: center;
    }
    .navbar-brand img{
        width: 130px;
    }
    .footer-items{
        flex-direction: column;
        align-items: center;
    }
    .lower-footer{
        margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    }
}

